[Desktop Entry]
Type=Application
Name=AutomateSTIG
Comment=STIG evaluation and compliance automation
Exec=automatestig-gui
Icon=automatestig
Categories=System;Security;Utility;
Terminal=false
